:root {
  --basic-pale-gray: #EEEEEE;
  --basic-gray: #888888;
  --basic-light-gray: #DFDFDF;
  --basic-light-gray2: #D5D5D5;
  --basic-light-gray3: #E1E1E1;
  --basic-black: #000000;
  --basic-azure-gray: #283136;
  --basic-dark-gray: #666666;
  --basic-twilight-gray: #444444;
  --basic-white: #FFFFFF;
  --basic-light-red: #FB565A;
  --basic-red: #E74246;
  --basic-dark-red: #D7373B;
  --basic-light-green: #00CA74;
  --basic-green: #00BC6C;
  --basic-dark-green: #00AA62;
  --basic-light-yellow: #EFC849;
  --basic-yellow: #EAB534;
  --basic-dark-yellow: #E5A722;
  --special: #4D4D4D;
}

body {
  min-width: 1178px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-pale-gray);
}

.site-navigation {
  list-style: none;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-pale-gray);
}

.site-navigation a,
.basket-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket-navigation a:hover,
.basket-navigation a:focus {
  color: var(--basic-light-red);
}

/* Slider */

.slider ol {
  list-style: none;
  background-color: var(--basic-pale-gray);
}

.slider-slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

.slider-ad-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-azure-gray);
}

/* Services*/

.services-list {
  list-style: none;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.services-item p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-azure-gray);
}

/* Button */

.button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-light-red);
  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--basic-red);
}

.button-web-sites {
  background-color: var(--basic-light-red);
}

.button-web-sites:hover,
.button-web-sites:focus {
  background-color: var(--basic-red);
}

.button-addenda {
  background-color: var(--basic-light-green);
}

.button-addenda:hover,
.button-addenda:focus {
  background-color: var(--basic-green);
}

.button-presentations {
  background-color: var(--basic-light-yellow);
}

.button-presentations:hover,
.button-presentations:focus {
  background-color: var(--basic-yellow);
}

/* About us */

.about-us-slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.about-us-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-azure-gray);
}

.about-us h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-azure-gray);
}

.about-us ul {
  list-style: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-azure-gray);
}

.about-us-ad {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
}

.about-us-advantages-rating {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
}

.percentage {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  color: var(--basic-black);
}

.about-us-advantages-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-azure-gray);
}

/* Companies */

.companies ul {
  list-style: none;
}


/* Filters */

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-pale-gray);
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter ul {
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: var(--basic-azure-gray);
}

.filter-input-range {
  background-color: var(--basic-pale-gray);

}

.filter-label-price {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-azure-gray);
}

.filter-input-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  color: var(--basic-azure-gray);
  background-color: var(--basic-pale-gray);
  border: none;
}

.filter-button {
  color: var(--basic-black);
  background-color: var(--basic-pale-gray);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--basic-light-gray);
}

/* Catalog */

.catalog h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.sort-list {
  list-style: none;
}

.sort-item a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-light-gray);
}

.sort-item a:hover,
.sort-item a:focus {
  color: var(--basic-black);
}

.catalog-list {
  list-style: none;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-pale-gray);
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: var(--basic-light-gray);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Footer */

.contacts h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
}

.contacts p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-dark-gray);
}

/* Social button */

.footer-social ul {
  list-style: none;
}

.social-button {
  color: var(--basic-white);
  background-color: var(--basic-light-gray3);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red);
}

.friendship {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-black);
}

.sale {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-twilight-gray);
}

.write-to-us {
  display: none;
}

.about-product {
  display: none;
}
