:root {
  --basic-pale-gray: #EEEEEE;
  --basic-gray: #C4C4C4;
  --basic-light-gray: #DFDFDF;
  --basic-light-gray2: #D5D5D5;
  --basic-light-gray3: #E1E1E1;
  --basic-light-gray4: #D7DCDE;
  --basic-black: #000000;
  --basic-azure-gray: #283136;
  --basic-dark-gray: #666666;
  --basic-twilight-gray: #444444;
  --basic-white: #FFFFFF;
  --basic-light-red: #FB565A;
  --basic-red: #E74246;
  --basic-dark-red: #D7373B;
  --basic-light-green: #00CA74;
  --basic-green: #00BC6C;
  --basic-dark-green: #00AA62;
  --basic-light-yellow: #EFC849;
  --basic-yellow: #EAB534;
  --basic-dark-yellow: #E5A722;
  --special: #4D4D4D;
}

body {
  min-width: 1177px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Visually hidden */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="range"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Grid for pages */

.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
}

/* Logo */

.main-header-logo {
  margin: 0;
  padding: 0;
  margin-top: 48.98px;
  width: 159.87px;
  height: 65.02px;
}

/* Container */

.container {
  width: 1157px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

/* Main navigation */

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-pale-gray);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 438px;
  margin: 0;
  padding: 0;
  margin-top: 75px;
  margin-bottom: 87px;
  margin-right: 25px;
  list-style: none;
}

.site-navigation-current {
  position: relative;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-pale-gray);
}

.site-navigation-current::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 1px;
  width: 73px;
  height: 2px;
  background-color: var(--basic-light-red);
}

/* Basket navigation */

.site-navigation a,
.basket-navigation a {
  display: block;
  height: 45px;
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket-navigation a:hover,
.basket-navigation a:focus {
  color: var(--basic-light-red);
}

/* Basket link */

.basket-navigation {
  margin: 0;
  padding: 0;
  margin-top: 75px;
  margin-bottom: 87px;
  max-width: 140px;
}

.basket-navigation .basket-link {
  padding-left: 40px;
  position: relative;
}

.basket-link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 1px;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Slider */

.slider-wrapper {
  margin-bottom: 80px;
  background-color: var(--basic-pale-gray);
}

.slider {
  margin: 0;
  padding: 0;
  margin-top: -95px;
  position: relative;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-container {
  display: flex;
  flex-direction: row-reverse;
}

.slider-text {
  width: 397px;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-slogan {
  width: 538px;
  margin: 0;
  padding: 0;
  margin-top: 78px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

.slider-ad-text {
  width: 416px;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-azure-gray);
}

.slider-text .button {
  padding: 17px 54px;
}

.slider-controls {
  position: absolute;
  bottom: 99px;
  left: 535px;
  z-index: 20;
  display: flex;
  width: 88px;
  justify-content: space-between;
}

.slider-controls button {
  position: relative;
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 5px;
  left: 5px;
  background-image: url(../img/slide-button.svg);
}

/* Services*/

.services {
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}

.services::after {
  display: block;
  content: "";
  width: 1158px;
  height: 2px;
  background-color: var(--basic-pale-gray);
}

.services::after {
  margin-top: 80px;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  width: 300px;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.services-item p {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-azure-gray);
}

/* Button */

.button {
  padding: 15px 39px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-light-red);
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: var(--basic-red);
}

.button:active {
  background-color: var(--basic-dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-web-sites {
  background-color: var(--basic-light-red);
}

.button-web-sites:hover,
.button-web-sites:focus {
  background-color: var(--basic-red);
}

.button-web-sites:active {
  background-color: var(--basic-dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-addenda {
  background-color: var(--basic-light-green);
}

.button-addenda:hover,
.button-addenda:focus {
  background-color: var(--basic-green);
}

.button-web-sites:active {
  background-color: var(--basic-dark-green);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-presentations {
  background-color: var(--basic-light-yellow);
}

.button-presentations:hover,
.button-presentations:focus {
  background-color: var(--basic-yellow);
}

.button-web-sites:active {
  background-color: var(--basic-dark-yellow);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


/* About us */


.about-us {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 73px;
}

.about-us-container {
  width: 651px;
}

.about-us-container-advantages {
  width: 360px;
}

.about-us-slogan {
  margin-bottom: 32px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.about-us-text {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-azure-gray);
}

.about-us h3 {
  margin-bottom: 23px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-azure-gray);
}

.about-us ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-azure-gray);
}

.about-us-item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.about-us-item::before {
  display: block;
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--basic-light-red);
}

.about-us-item::before {
  margin-right: 7px;
}

.about-us-ad {
  margin-top: 37px;
  margin-bottom: 31px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.about-us td {
  padding-right: 15px;
  padding-bottom: 10px;
}

.about-us-advantages-rating {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
}

.percentage {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  color: var(--basic-black);
}

.about-us-advantages-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-azure-gray);
}

/* Companies */

.companies {
  margin-bottom: 80px;
}

.companies::before,
.companies::after {
  display: block;
  content: "";
  width: 1158px;
  height: 2px;
  background-color: var(--basic-pale-gray);
}

.companies::before {
  margin-bottom: 46px;
}

.companies::after {
  margin-top: 44px;
}

.companies-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.companies ul {
  list-style: none;
}

.companies-item {
  display: flex;
  align-items: center;
}

.companies-item:not(:last-child)::after {
  display: block;
  content: "";
  width: 2px;
  height: 52px;
  background-color: var(--basic-pale-gray);
}

.companies-item::after {
  margin-left: 55px;
}

.companies-link {
  opacity: 0.2;
}

.companies-link:hover,
.companies-link:focus {
  opacity: 1;
}

.companies-link:active {
  opacity: 0.1;
}

/* Title */

.page-title {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
  padding-bottom: 108px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-pale-gray);
}

/* Filters */

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 20px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-right: 33px;
  padding-left: 22px;
  background-color: var(--basic-pale-gray);
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-light-gray4);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-light-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-controls label {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-azure-gray);
}

.price-controls input {
  width: 64px;
  padding: 8px;
  margin-left: 12px;
  margin-right: 33px;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  color: var(--basic-azure-gray);
  background-color: var(--basic-pale-gray);
  border: none;
  border-radius: 3px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 46px;
  border: none;
}

.filter legend {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: var(--basic-azure-gray);
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 45px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -1px;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  left: -42px;
  top: -1px;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-input-radio:hover+label::before,
.filter-input-radio:focus+label::before,
.filter-input-radio:checked:hover+label::after,
.filter-input-radio:checked:focus+label::after {
  opacity: 1;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-input-checkbox:checked+label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -42px;
  width: 26px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-input-checkbox:hover+label::before,
.filter-input-checkbox:focus+label::before,
.filter-input-checkbox:checked:hover+label::before,
.filter-input-checkbox:checked:focus+label::before {
  opacity: 1;
}

.filter-button {
  padding-right: 89px;
  padding-left: 88px;
  color: var(--basic-black);
  background-color: var(--basic-pale-gray);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--basic-light-gray);
}

/* Catalog */

.catalog {
  margin: 0;
  padding: 0;
  margin-left: 140px;
  margin-bottom: 60px;
}

.catalog-sort {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sort-title {
  margin: 0;
  padding: 0;
}

.catalog h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.sort-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  margin: 0;
  padding: 0;
  margin-bottom: 88px;
  list-style: none;
}

.sort-direction::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  top: 4px;
  right: 28px;
  background-image: url(../img/icon-down-dir.svg);
  background-repeat: no-repeat;
  opacity: 0.2;
}

.sort-direction::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  top: 4px;
  right: 0;
  background-image: url(../img/icon-up-dir.svg);
  background-repeat: no-repeat;
  opacity: 0.2;
}

.sort-item {
  margin-right: 26px;
}

.sort-item a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
}

.sort-item a:hover,
.sort-item a:focus,
.sort-item a:active {
  opacity: 1;
}

.sort-item-current a,
.sort-item-current a:hover,
.sort-item-current a:focus,
.sort-item-current a:active {
  opacity: 1;
}

/* Catalog price */

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  list-style: none;
}

.catalog-item {
  position: relative;
  width: 358px;
  min-height: 578px;
  margin-right: 19px;
  margin-bottom: 72px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item:hover,
.catalog-item:focus {
  width: 360px;
  border: 1px solid transparent;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.catalog-item:hover .catalog-price-modal,
.catalog-item:focus .catalog-price-modal {
  opacity: 1;
}

.catalog-option::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  top: -40px;
  right: -1px;
  background-image: url(../img/browser.svg);
  background-repeat: no-repeat;
  opacity: 0.12;
}

.catalog-option:hover::before,
.catalog-option:focus::before {
  opacity: 1;
}

.catalog-price-text h3 {
  margin: 0;
  padding: 0;
  margin-top: 26px;
  margin-bottom: 12px;
}

.catalog-price-text p {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-price-modal {
  position: absolute;
  bottom: -1px;
  left: -1px;
  display: flex;
  justify-content: center;
  width: 360px;
  background-color: var(--basic-pale-gray);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  opacity: 0;
}

.catalog-price-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 255px;
}

.catalog-item h3:hover,
.catalog-item h3:focus {
  color: var(--basic-light-red);
}

.price-button {
  padding: 17px 72px;
  margin-bottom: 44px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  margin-right: 11px;
  margin-top: -54px;
}

.pagination-item a {
  display: block;
  padding: 17px 20px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-pale-gray);
  border-radius: 3px;
}

.pagination-item-current a {
  padding: 14px 20px;
}

.pagination-item-text a {
  padding: 17px 78px;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: var(--basic-light-gray);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 3px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 3px;
}

/* Main footer */

.main-footer {
  margin-bottom: 68px;
}

.map {
  width: 100%;
  height: auto;
}

.main-footer .container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 139px;
}

.footer-contacts-window {
  position: absolute;
  bottom: 279px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 319px;
  margin: 0;
  padding: 0;
  background-color: var(--basic-white);
}

.contact-text-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 230px;
}

.contact-text-container h3 {
  margin: 0;
  padding: 0;
  margin-top: 49px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.contact-text-container p {
  margin: 0;
  padding: 0;
  margin-top: 22.71px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-dark-gray);
}

.contact-text-container .button {
  margin-top: 37.29px;
  margin-bottom: 47px;
}

/* Social button */

.footer-social {
  margin: 0;
  margin-top: 68px;
  width: 265px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 260px;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  color: var(--basic-white);
  background-color: var(--basic-light-gray3);
  border-radius: 50px;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red);
}

.social-button:active {
  background-color: var(--basic-dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Footer text */

.footer-text {
  margin: 0;
  margin-top: 75px;
  width: 660px;
}

.footer-text p {
  margin: 10px;
}

.friendship {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-black);
}

.sale {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-twilight-gray);
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  display: none;
}

/* Modal close */

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 0;
  height: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-close::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 21px;
  height: 21px;
  background-image: url(../img/close-cross.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.modal-close:hover::before,
.modal-close:focus::before {
  opacity: 1;
}

.modal-close:active::before {
  opacity: 0.1;  
}

.modal-write-to-us {
  width: 960px;
  top: 45px;
  bottom: auto;

}

.modal-write-to-us h2 {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  color: var(--basic-black);
}

.modal-title {
  margin-left: 100px;
  padding-top: 63px;
}

.modal-form {
  margin-top: 37px;
  margin-left: 100px;
  width: 760px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
}

.modal-item {
  width: 360px;
  margin-top: 0;
  margin-bottom: 34px;
}

.modal-item-message {
  width: 760px;
  margin-top: 0;
  margin-bottom: 34px;
}

.modal-item label,
.modal-item-message label {
  display: block;
  margin-bottom: 9px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-black);
}

.modal-item input {
  width: 360px;
  padding-top: 16px;
  padding-right: 14px;
  padding-bottom: 16px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-twilight-gray);
  border: 2px solid var(--basic-light-gray4);
  border-radius: 3px;
  box-sizing: border-box;
  opacity: 50%;
}

.modal-item-message textarea {
  width: 760px;
  padding-top: 16px;
  padding-right: 14px;
  padding-bottom: 16px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-twilight-gray);
  border: 2px solid var(--basic-light-gray4);
  border-radius: 3px;
  box-sizing: border-box;
  opacity: 50%;
}

.modal-item input:focus,
.modal-item-message textarea:focus {
  border-color: var(--basic-black);
  opacity: 1;
}

.modal-write-to-us .button {
  display: block;
  width: 259px;
  margin-top: 47px;
  margin-bottom: 84px;
}
