:root {
  --basic-pale-gray: #EEEEEE;
  --basic-gray: #888888;
  --basic-light-gray: #DFDFDF;
  --basic-light-gray2: #D5D5D5;
  --basic-light-gray3: #E1E1E1;
  --basic-black: #000000;
  --basic-azure-gray: #283136;
  --basic-dark-gray: #666666;
  --basic-twilight-gray: #444444;
  --basic-white: #FFFFFF;
  --basic-light-red: #FB565A;
  --basic-red: #E74246;
  --basic-dark-red: #D7373B;
  --basic-light-green: #00CA74;
  --basic-green: #00BC6C;
  --basic-dark-green: #00AA62;
  --basic-light-yellow: #EFC849;
  --basic-yellow: #EAB534;
  --basic-dark-yellow: #E5A722;
  --special: #4D4D4D;
}

body {
  min-width: 1177px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Visually hidden */

.visually-hidden {
  visibility: hidden;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Grid for pages */

.page-catalog {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-content: start;
}

.page-catalog .page-title {
  grid-column: 1 / -1;
}


/* Main header */

.main-header {
  margin-bottom: 9px;
}

/* Logo */

.main-header-logo {
  width: 159.87px;
  height: 65.02px;
}

/* Container */

.container {
  width: 1157px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

/* Main navigation */

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-pale-gray);
}

.site-navigation {
  width: 620px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-pale-gray);
}


/* Basket navigation */



.site-navigation a,
.basket-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket-navigation a:hover,
.basket-navigation a:focus {
  color: var(--basic-light-red);
}

/* Basket link */

.basket-navigation .basket-link {
  padding-left: 50px;
}

/* Slider */



.slider-item {
  display: flex;
  flex-direction: row-reverse;
}

.slider-image {
  width: 760px;
}

.slider-input-radio {
  display: none;
}

.slider-text {  
  width: 538px;
}

.slider ol {
  list-style: none;
  background-color: var(--basic-pale-gray);
}

.slider-slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

.slider-ad-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-azure-gray);
}

/* Services*/

.services {
  margin-bottom: 121px;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  width: 300px;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.services-item p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-azure-gray);
}

/* Button */

.button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-light-red);
  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--basic-red);
}

.button-web-sites {
  background-color: var(--basic-light-red);
}

.button-web-sites:hover,
.button-web-sites:focus {
  background-color: var(--basic-red);
}

.button-addenda {
  background-color: var(--basic-light-green);
}

.button-addenda:hover,
.button-addenda:focus {
  background-color: var(--basic-green);
}

.button-presentations {
  background-color: var(--basic-light-yellow);
}

.button-presentations:hover,
.button-presentations:focus {
  background-color: var(--basic-yellow);
}


/* About us */

.about-us {
  display: flex;
  justify-content: space-between;
  margin-bottom: 73px;
}

.about-us-container {
  width: 651px;
}

.about-us-container-advantages {
  width: 360px;
}

.about-us-slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.about-us-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-azure-gray);
}

.about-us h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-azure-gray);
}

.about-us ul {
  list-style: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-azure-gray);
}

.about-us-ad {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
}

.about-us-advantages-rating {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
}

.percentage {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  color: var(--basic-black);
}

.about-us-advantages-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-azure-gray);
}

/* Companies */


.companies-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.companies ul {
  list-style: none;
}


/* Filters */

.filters {
  width: 260px;
}

.page-title {
  margin-bottom: 163px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-pale-gray);
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 46px;
  border: none;
}



.filter legend {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: var(--basic-azure-gray);
}

.filter-input-range {
  width: 260px;
  background-color: var(--basic-pale-gray);

}

.filter-label-price {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-azure-gray);
}

.filter-input-text {
  width: 80px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  color: var(--basic-azure-gray);
  background-color: var(--basic-pale-gray);
  border: none;
}

.filter-button {
  color: var(--basic-black);
  background-color: var(--basic-pale-gray);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--basic-light-gray);
}

/* Catalog */

.catalog {
  margin-left: 96px;
}



.catalog h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.sort-list {
  margin-bottom: 54px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sort-item a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-light-gray);
}

.sort-item a:hover,
.sort-item a:focus {
  color: var(--basic-black);
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 54px;
  list-style: none;
}

.catalog-item {
  width: 358px;
  min-height: 578px;
  margin-right: 41px;
  margin-bottom: 72px;
}



.pagination-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-pale-gray);
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: var(--basic-light-gray);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Main footer */

.main-footer {
  margin-top: 80px;
}

.map {
  width: 100%;
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  column-gap: 139px;
}

.footer-contacts {
  margin: 0;
  text-align: center;
  width: 319px;
}

.footer-contacts h3 {
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
}

.footer-contacts p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-dark-gray);
}



/* Social button */

.footer-social {
  margin: 0;
  margin-top: 68px;
  width: 265px;
}

.footer-social ul {
  margin: 0 auto;
  padding: 0;
  width: 261px;
  list-style: none;
}

.social-button {
  color: var(--basic-white);
  background-color: var(--basic-light-gray3);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red);
}

/* Footer text */

.footer-text {
  margin: 0;
  margin-top: 75px;
  width: 660px;
}

.footer-text p {
  margin: 10px;
}

.friendship {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-black);
}

.sale {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-twilight-gray);
}

.modal-write-to-us {
  display: none;
}

.about-product {
  display: none;
}
